* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: white;
  color: black;
  font-family: Arial;
  font-size: 20px;
  /* padding: 50px; */
}

.main {
  background-color: rgba(230, 56, 56, 0.3);
  border-radius: 15px;
  margin: 10px;
  min-height: 100vh;
  display: flex;
}

/* .main2 {
   background-color: rgb(255, 255, 255); 
   display: flex; 
}
 */

.leftsidebar {
  padding: 10px;
  border-right: 2px solid black;
  height: 100vh;
}
.profile-dtl {
  text-align: center;
}
.profile-dtl img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #152036;
}
.profile-dtl h2 {
  font-size: 16px;
  /* color: #000; */
  font-weight: 400;
  margin: 10px 0px 15px 0px;
}

.icons {
  margin: 10px;
  margin-bottom: 20px;
}

.rightsidebar {
  display: flex;
  flex-direction: column;
  /* color: black; */
  /* background-color: pink; */
}

.navbar {
  padding: 10px;
  margin-bottom: 10px;
  /* display: flex;
  flex-direction: row; */
  /* background-color: blue; */
}
.breadcome-heading a {
  position: absolute;
  top: 50%;
  left: 178px;
  display: block;
  height: 34px;
  line-height: 34px;
  width: 34px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: -17px;
}
.form-control {
  /* background-color: #cccec5; */
  background-image: none;
  border: 1px solid #447aaf;
  border-radius: 5px;
  /* color: inherit; */
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 20%;
}

ul {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: block;
  float: left;
  margin: 10px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
  color: white;
}

#search {
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  outline: 0;
  padding: 10px;
  margin-top: 10px;
}

.below-navbar {
  display: flex;
  flex-direction: column;
}

.content {
  background-color: antiquewhite;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  /* height: 200px; */
  /* width: 50%; */
  /* background-color: powderblue; */
}
